body {
  padding: 50px 0;
}
.text-center {
  text-align: center;
}

.margin-col {
  margin-top: 80px;
}

.container {
  margin-bottom: 90px;
}
 h2, h3 {
  margin: 20px 0;
}
p {
  padding-bottom: 20px;
}
header img {
  height: 200px;
  padding: auto;
}

section {
  background-color: #F9F9F9;
}
section img {
  height: 200px;
  border-radius: 50%;
  padding: 30px;
  background-color: #428BCA;
}

section hr {
  margin: 10px 0;
}

/* mobile */
@media screen and (max-width: 767px) {
  .xs-marginbot0 {
    margin-bottom: 0;
  }
  .xs-margintop0 {
    margin-top: 0;
  }

  h2 {
    font-size: 30px;
  }

  h3 {
    font-size: 25px;
  }

  p {
    font-size: 18px;
  }

  section hr {
    margin: 0;
  }

  .col-xs-12 {
    padding: 20px;
  }
  header {
    background-color: #F2F2CD;
  }

  section {
    background-color: #FFFFFF;
  }
  #first-section  img {
    border-radius: 0;
    background-color: #FFFFFF;
    padding: 0;
  }
  #second-section {
    background-color: #F2F2CD;
  }
  #second-section p {
    padding-bottom: 0;
  }
}
