body {
  padding: 50px 0;
}
.text-center {
  text-align: center;
}

.margin-col {
  margin-top: 80px;
}

.container {
  margin-bottom: 90px;
}
 h2, h3 {
  margin: 20px 0;
}
p {
  padding-bottom: 20px;
}
header img {
  height: 200px;
}

section {
  background-color: #F9F9F9;
}
#second-section img {
  height: 200px;
  border-radius: 50%;
  padding: 30px;
  background-color: #428BCA;
}

section hr {
  margin: 10px 0;
}

/* tablet */
@media screen and (min-width: 768px) and (max-width: 991px) {
  .marginbot0 {
    margin-bottom: 0;
  }
  .margintop0 {
    margin-top: 0;
  }

  h2 {
    font-size: 30px;
  }

  h3 {
    font-size: 25px;
  }

  p {
    font-size: 18px;
  }
  section hr {
    display: none;
  }
  #first-section .col-md-4 {
  padding: 10px;
  }

   main #second-section {
    background-color: white;
  }
  #secon-section > .col-md-6:first-child {
    min-height: 423px;
  }
  .col-12 {
    padding: 20px;

  }
}

/* mobile */
@media screen and (max-width: 767px) {
  .marginbot0 {
    margin-bottom: 0;
  }
  .margintop0 {
    margin-top: 0;
  }

  h2 {
    font-size: 30px;
  }

  h3 {
    font-size: 25px;
  }

  p {
    font-size: 18px;
  }

  section hr {
    margin: 0;
  }

  .col-12 {
    padding: 20px;
  }
  header {
    background-color: #F2F2CD;
  }

  section {
    background-color: #FFFFFF;
  }
  #first-section  img {
    border-radius: 0;
    background-color: #FFFFFF;
    padding: 0;
  }
  #second-section {
    background-color: #F2F2CD;
  }
  #second-section p {
    padding-bottom: 0;
  }
}
